<!-- wp:template-part {"slug":"promobar","theme":"venture-outdoors-block","tagName":"aside","className":"promotions-bar"} /-->

<!-- wp:template-part {"slug":"header","theme":"venture-outdoors-block"} /-->

<!-- wp:vo-blocks/div {"className":"page-body"} -->
<div class="wp-block-vo-blocks-div alignfull page-body">
  <!-- wp:vo-blocks/div {"className":"masthead text-center"} -->
  <div class="wp-block-vo-blocks-div alignfull masthead text-center">
    <!-- wp:vo-blocks/div {"className":"masthead-cont valign-middle"} -->
    <div class="wp-block-vo-blocks-div alignfull masthead-cont valign-middle">
      <!-- wp:vo-blocks/div {"className":"masthead-incont valign-middle-item"} -->
      <div class="wp-block-vo-blocks-div alignfull masthead-incont valign-middle-item">
        <!-- wp:query-title {"type":"archive","className":"masthead-title flush-ends"} /-->
      </div>
      <!-- /wp:vo-blocks/div -->
    </div>
    <!-- /wp:vo-blocks/div -->
  
    <!-- wp:vo-blocks/div {"className":"cloudinary-hero-img w-embed"} -->
    <div class="wp-block-vo-blocks-div alignfull cloudinary-hero-img w-embed">
      <!-- wp:vo-blocks/genericimg {"src":"https://res.cloudinary.com/ventureoutdoors/image/upload/v1638243886/hero-images/activities.jpg","public_id":"hero-images/activities","context":{"alt":"See the landscape reflect itself in Florida's undisturbed rivers."},"height":395,"width":1600,"version":1638243886,"imageSizes":"500,800,1080,1600","className":"masthead-img img-responsive"} -->
      <img class="wp-block-vo-blocks-genericimg lazyload masthead-img img-responsive" width="1600" height="395" src="https://res.cloudinary.com/ventureoutdoors/image/upload/hero-images/activities" alt="See the landscape reflect itself in Florida's undisturbed rivers."/>
      <!-- /wp:vo-blocks/genericimg -->
    </div>
    <!-- /wp:vo-blocks/div -->
  </div>
  <!-- /wp:vo-blocks/div -->
  
  <!-- wp:template-part {"slug":"breadcrumb","theme":"venture-outdoors-block"} /-->
  
  <!-- wp:vo-blocks/div {"className":"page-content"} -->
  <div class="wp-block-vo-blocks-div alignfull page-content">
    <!-- wp:vo-blocks/introcontent {"className":"bgc-quaternary"} -->
    <section class="wp-block-vo-blocks-introcontent alignfull intro-content bgc-quaternary">
      <div class="container">
        <div class="row">
          <!-- wp:vo-blocks/div {"className":"col-lg-4"} -->
          <div class="wp-block-vo-blocks-div alignfull col-lg-4">
            <!-- wp:query-title {"type":"archive","className":"h3 flush-top"} /-->
          
            <!-- wp:vo-blocks/div {"className":"intro-content-title"} -->
            <div class="wp-block-vo-blocks-div alignfull intro-content-title">
              <!-- wp:paragraph {"className":"intro-content-subtitle"} -->
              <p class="intro-content-subtitle">We offer a continuously increasing variety of activities.</p>
              <!-- /wp:paragraph -->
            </div>
            <!-- /wp:vo-blocks/div -->
          </div>
          <!-- /wp:vo-blocks/div -->
  
          <!-- wp:vo-blocks/div {"className":"col-lg-8"} -->
          <div class="wp-block-vo-blocks-div alignfull col-lg-8">
            <!-- wp:paragraph -->
            <p>We currently focus on kayaking and hiking day trips and kayak lessons. However, we strive to continuously grow the variety of our adventures. Please check frequently on new activities and adventures we offer.</p>
            <!-- /wp:paragraph -->
  
            <!-- wp:paragraph -->
            <p>Feel free to contact us using our&nbsp;<a href="https://staging.ventureoutdoorsllc.com/contact">contact form</a>&nbsp;or call us at&nbsp;<a href="tel:+1-407-267-9950">407-267-9950</a>&nbsp;if you have any special requests or wish for us to add any activities not listed.</p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:vo-blocks/div -->
        </div>
      </div>
    </section>
    <!-- /wp:vo-blocks/introcontent -->
  
    <!-- wp:vo-blocks/div {"className":"activity-search"} -->
    <div class="wp-block-vo-blocks-div alignfull activity-search">
      <!-- wp:vo-blocks/filteractivity /-->
    </div>
    <!-- /wp:vo-blocks/div -->
  </div>
  <!-- /wp:vo-blocks/div -->
</div>
<!-- /wp:vo-blocks/div -->
  
<!-- wp:template-part {"slug":"footer","theme":"venture-outdoors-block","className":"page-footer"} /-->