<!-- wp:template-part {"slug":"promobar","theme":"venture-outdoors-block","tagName":"aside","className":"promotions-bar"} /-->

<!-- wp:template-part {"slug":"header","theme":"venture-outdoors-block","className":"page-header"} /-->

<!-- wp:vo-blocks/div {"className":"page-body"} -->
<div class="wp-block-vo-blocks-div alignfull page-body">
  <!-- wp:vo-blocks/masthead -->
  <div class="masthead-cont valign-middle">
    <div class="masthead-incont valign-middle-item">
      <!-- wp:post-title {"level":1,"className":"masthead-title flush-ends"} /-->
    </div>
  </div>
  <!-- /wp:vo-blocks/masthead -->

  <!-- wp:template-part {"slug":"breadcrumb","theme":"venture-outdoors-block"} /-->

  <!-- wp:vo-blocks/findactivity /-->

  <!-- wp:post-content {"className":"page-content"} /-->
</div>
<!-- /wp:vo-blocks/div -->

<!-- wp:template-part {"slug":"footer","theme":"venture-outdoors-block","tagName":"footer","className":"page-footer"} /-->