<!-- wp:template-part {"slug":"promobar","theme":"venture-outdoors-block","tagName":"aside","className":"promotions-bar"} /-->

<!-- wp:template-part {"slug":"header","theme":"venture-outdoors-block"} /-->

<!-- wp:vo-blocks/div {"className":"page-body"} -->
<div class="wp-block-vo-blocks-div alignfull page-body">
  <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/gallerybanner"} /-->

  <!-- wp:template-part {"slug":"breadcrumb-activity","theme":"venture-outdoors-block"} /-->
  
  <!-- wp:vo-blocks/div {"className":"page-content"} -->
  <div class="wp-block-vo-blocks-div alignfull page-content">
    <!-- wp:vo-blocks/div {"className":"sngl-activity-sec sngl-activity-desc"} -->
    <div class="wp-block-vo-blocks-div alignfull sngl-activity-sec sngl-activity-desc">
      <!-- wp:vo-blocks/container -->
      <div class="wp-block-vo-blocks-container alignfull container">
        <!-- wp:vo-blocks/row -->
        <div class="wp-block-vo-blocks-row alignfull row">
          <!-- wp:vo-blocks/div {"className":"col-md-6"} -->
          <div class="wp-block-vo-blocks-div alignfull col-md-6">
            <!-- wp:post-title {"level":1,"className":"h2 flush-top"} /-->
    
            <!-- wp:vo-blocks/div {"className":"sngl-activity-desc-address list-style-none flexbox-left flush-top flush-sides valign-middle"} -->
            <div class="wp-block-vo-blocks-div alignfull sngl-activity-desc-address list-style-none flexbox-left flush-top flush-sides valign-middle">
              <!-- wp:vo-blocks/div {"className":"soft-right"} -->
              <div class="wp-block-vo-blocks-div alignfull soft-right">
                <!-- wp:vo-blocks/customfield {"name":"area","tagName":"h2","className":"h5 icon-map-signs flush"} /-->
              </div>
              <!-- /wp:vo-blocks/div -->
            </div>
            <!-- /wp:vo-blocks/div -->
    
            <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/highlights"} /-->
    
            <!-- wp:vo-blocks/div {"className":"single-activity-video"} -->
            <div class="wp-block-vo-blocks-div alignfull single-activity-video"></div>
            <!-- /wp:vo-blocks/div -->
    
            <!-- wp:vo-blocks/div {"className":"sngl-description-content"} -->
            <div class="wp-block-vo-blocks-div alignfull sngl-description-content">
              <!-- wp:heading {"className":"h3"} -->
              <h2 class="h3">Description</h2>
              <!-- /wp:heading -->
    
              <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/readmore"} /-->
            </div>
            <!-- /wp:vo-blocks/div -->
          </div>
          <!-- /wp:vo-blocks/div -->
    
          <!-- wp:vo-blocks/div {"className":"col-md-5 col-md-offset-1"} -->
          <div class="wp-block-vo-blocks-div alignfull col-md-5 col-md-offset-1">
            <!-- wp:vo-blocks/activitydetails /-->
          </div>
          <!-- /wp:vo-blocks/div -->
        </div>
        <!-- /wp:vo-blocks/row -->
      </div>
      <!-- /wp:vo-blocks/container -->
    </div>
    <!-- /wp:vo-blocks/div -->
    
    <!-- wp:vo-blocks/secsidebar -->
    <!-- wp:vo-blocks/snglactivityaccrdn {"id":"rates","title":"\u003cbr\u003eRates","className":"sngl-activity-rates bgc-tertiary"} -->
    <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/rates"} /-->
    <!-- /wp:vo-blocks/snglactivityaccrdn -->
    
    <!-- wp:vo-blocks/snglactivityaccrdn {"id":"booking","title":"Dates \u0026amp; Booking","addPrefix":"yes","className":"sngl-activity-booking"} -->
    <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/booking"} /-->
    <!-- /wp:vo-blocks/snglactivityaccrdn -->
    
    <!-- wp:vo-blocks/snglactivityaccrdn {"id":"details","title":"Details","addPrefix":"yes","className":"sngl-activity-rates bgc-tertiary"} -->
    <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/activityinfo","blockId":"details"} /-->
    <!-- /wp:vo-blocks/snglactivityaccrdn -->
    
    <!-- wp:vo-blocks/snglactivityaccrdn {"id":"logistics","title":"Logistics","altTitle":"","addPrefix":"yes","className":"sngl-activity-logistics"} -->
    <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/activityinfo","blockId":"logistics"} /-->
    <!-- /wp:vo-blocks/snglactivityaccrdn -->
    
    <!-- wp:vo-blocks/snglactivityaccrdn {"id":"related","title":"Related","altTitle":"You might also like ...","addSuffix":"yes","className":"sngl-activity-related bgc-tertiary"} -->
    <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/activitygrid"} /-->
    <!-- /wp:vo-blocks/snglactivityaccrdn -->
    <!-- /wp:vo-blocks/secsidebar -->
  </div>
  <!-- /wp:vo-blocks/div -->
</div>
<!-- /wp:vo-blocks/div -->
  
<!-- wp:template-part {"slug":"footer","theme":"venture-outdoors-block","className":"page-footer"} /-->