<!-- wp:template-part {"slug":"promobar","theme":"venture-outdoors-block","tagName":"aside","className":"promotions-bar"} /-->

<!-- wp:template-part {"slug":"header","theme":"venture-outdoors-block"} /-->

<!-- wp:vo-blocks/div {"className":"page-body"} -->
<div class="wp-block-vo-blocks-div alignfull page-body">
  <!-- wp:vo-blocks/masthead -->
  <div class="masthead-cont valign-middle">
    <div class="masthead-incont valign-middle-item">
      <!-- wp:post-title {"level":1} /-->
    </div>
  </div>
  <!-- /wp:vo-blocks/masthead -->
  
  <!-- wp:template-part {"slug":"breadcrumb","theme":"venture-outdoors-block"} /-->
  
  <!-- wp:vo-blocks/div {"className":"page-content"} -->
  <div class="wp-block-vo-blocks-div alignfull page-content">
    <!-- wp:vo-blocks/introcontent {"className":"bgc-quaternary"} -->
    <section class="wp-block-vo-blocks-introcontent alignfull intro-content bgc-quaternary">
      <div class="container">
        <div class="row">
          <!-- wp:vo-blocks/div {"className":"col-lg-4"} -->
          <div class="wp-block-vo-blocks-div alignfull col-lg-4">
            <!-- wp:post-title {"className":"h3 flush-top"} /-->
  
            <!-- wp:vo-blocks/div {"className":"intro-content-title"} -->
            <div class="wp-block-vo-blocks-div alignfull intro-content-title">
              <!-- wp:shortcode -->
              [acf field='subtitle']
              <!-- /wp:shortcode -->
            </div>
            <!-- /wp:vo-blocks/div -->
          </div>
          <!-- /wp:vo-blocks/div -->
  
          <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/div {\u0022className\u0022:\u0022col-lg-8\u0022}"} /-->
        </div>
      </div>
    </section>
    <!-- /wp:vo-blocks/introcontent -->
  
    <!-- wp:vo-blocks/div {"className":"activity-search"} -->
    <div class="wp-block-vo-blocks-div alignfull activity-search">
      <!-- wp:vo-blocks/filteractivity /-->
    </div>
    <!-- /wp:vo-blocks/div -->
  
    <!-- wp:vo-blocks/div {"className":"page-content"} -->
    <div class="wp-block-vo-blocks-div alignfull page-content">
      <!-- wp:vo-blocks/div {"className":"bgc-tertiary"} -->
      <div class="wp-block-vo-blocks-div alignfull bgc-tertiary">
        <!-- wp:vo-blocks/container -->
        <div class="wp-block-vo-blocks-container alignfull container">
          <!-- wp:vo-blocks/row {"className":"activity-types"} -->
          <div class="wp-block-vo-blocks-row alignfull row activity-types">
            <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/div {\u0022className\u0022:\u0022col-md-6\u0022}"} /-->
  
            <!-- wp:vo-blocks/div {"className":"col-md-6"} -->
            <div class="wp-block-vo-blocks-div alignfull col-md-6">
              <!-- wp:vo-blocks/container -->
              <div class="wp-block-vo-blocks-container alignfull container">
                <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/div {\u0022className\u0022:\u0022imggrid eqhwrap disblock-xx\u0022}"} /-->
              </div>
              <!-- /wp:vo-blocks/container -->
            </div>
            <!-- /wp:vo-blocks/div -->
          </div>
          <!-- /wp:vo-blocks/row -->
        </div>
        <!-- /wp:vo-blocks/container -->
      </div>
      <!-- /wp:vo-blocks/div -->

      <!-- wp:vo-blocks/postcontentpart {"blockInclude":"wp:vo-blocks/div","blockId":"section4"} /-->
      
    </div>
    <!-- /wp:vo-blocks/div -->
  </div>
  <!-- /wp:vo-blocks/div -->
</div>
<!-- /wp:vo-blocks/div -->
  
<!-- wp:template-part {"slug":"footer","theme":"venture-outdoors-block","className":"page-footer"} /-->