/*------------------------------------*\
            Opacity
\*------------------------------------*/


/*------------------------------------*\
            Gradient
\*------------------------------------*/


/*------------------------------------*\
            Element Colors
\*------------------------------------*/

$color__page-footer-background: var(--wp--preset--color--foreground);

$color__link: var(--wp--preset--color--link);

$color__background-button-primary: var(--wp--preset--color--primary);
$color__background-button-primary-hover: var(--wp--preset--color--primary-hover);
$color__border-button-primary: var(--wp--preset--color--primary);
$color__border-button-primary-hover: var(--wp--preset--color--primary-hover);
$color__text-button-primary: var(--wp--preset--color--primary);
$color__text-button-primary-hover: var(--wp--preset--color--primary-hover);

$color__background-secondary-button: var(--wp--preset--color--secondary);
$color__background-secondary-button-hover: var(--wp--preset--color--secondary-hover);
$color__border-button-secondary: var(--wp--preset--color--secondary);
$color__border-button-secondary-hover: var(--wp--preset--color--secondary-hover);
$color__text-button-secondary: var(--wp--preset--color--secondary);
$color__text-button-secondary-hover: var(--wp--preset--color--secondary-hover);

/*------------------------------------*\
            Border Colors
\*------------------------------------*/

