/*Fixed Nav*/
.nav-fixed {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 999;
  width: 100%;
  height: 44px;
  background-color: var(--wp--preset--color--arsenic);
  box-shadow: -2px -2px 6px 1px rgba(0, 0, 0, 0.1);
}

.nav-fixed-bookbtn {
  float: left;
}

@media (max-width: 1024px) {
  .nav-fixed .top-header-phone a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-fixed .top-header-phone span {
    font-family: $font__montserrat;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-fixed [class*="btn-"] {
    padding: 0 28px;
    min-height: 44px;
    max-height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .nav-fixed-bookbtn [class*="btn-"] {
    padding: 12px 20px;
  }
}

.nav-fixed-callbtn {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 44px;
  font-size: 22px;
}

.nav-fixed-callbtn a {
  color: var(--wp--preset--color--white);
}

.nav-fixed-menubtn {
  float: right;
  width: 50px;
  background-color: var(--wp--preset--color--arsenic);
  padding-top: 23px;
  color: var(--wp--preset--color--white);
  font-size: 9px;
  font-family: $font__montserrat;
  font-weight: 600;
  text-align: center;
  height: 44px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  position: relative;
  border-left: 1px solid var(--wp--preset--color--senary);
  outline: none;
}

@media(max-width:390px) {
  .nav-fixed-menubtn {
    width: 50px;
  }
}

.nav-fixed-menubtn:before {
  font-size: 33px;
  top: 0;
}

.nav-fixed-menubtn.open {
  background-color: var(--wp--preset--color--bright-gray);
  color: var(--wp--preset--color--arsenic);
}

.nav-fixed-menubtn.open:before {
  font-size: 33px;
}

.nav-fixed-menubtn:before {
  width: 100%;
  position: absolute;
  left: 0;
}